%article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        = sanitize @post.body
        %hr
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .text-center.post-actions
          = link_to 'Back', posts_path, :class => "btn btn-default"
        %h3 Comments
        = render @post.comments
        %h4 Add a comment:
        = render partial: 'comments/form'

