// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-preview > .post-title > a:hover,
.post-preview > .post-title > a:focus {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > .post-title > a{
  color: #333333;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333333;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085A1;
  text-decoration: underline;
}