/ Navigation
%nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        Menu
        %i.fa.fa-bars
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a= link_to "Home", posts_path
        %li
          %a= link_to "About", "/about"
        %li
          %a= link_to "Categories", "#"
        %li
          %a= link_to "Contact", new_contact_path

/ Page Header
/ Set your background image for this header on the line below.
%header.intro-header
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1 Rails Blog
          %hr.small
          %span.subheading A Minimalist Blog by JV